.App {
  text-align: left;
  width: 250px;
  margin: auto;
}

.emoji {
  border: none;
  background: transparent;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
}

.trash-icon {
  float: right;
}

.mb-3 {
  padding-top: 20px;
}
